.admin-chat-container {
  width: 80%;
  max-width: 600px;
  min-width: 350px;
  margin: 40px auto 0 auto;
  padding: 28px 22px;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  gap: 18px;

}

.admin-connection {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 220px;
  margin-left: 550px;
}

.admin-connection button {
  background-color: tomato;
  color: white;
  padding: 14px 38px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 2px 8px #0001;
  transition: background 0.2s;
  
}
.admin-connection button:hover {
  background: #ff6347cc;
}

.admin-chat-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 12px;
  width:800px;
  height:500px
}

.admin-messages {
  flex: 1;
  overflow-y: auto;
  background: #fff;
  border-radius: 8px;
  border: 1.5px solid #ffe1e1;
  margin-bottom: 10px;
  min-height: 500px;
  max-height: 300px;
}

.admin-date-divider {
  text-align: center;
  color: #bdbdbd;
  margin-bottom: 10px;
  font-size: 15px;
}

.admin-message-wrapper {
  display: flex;
  margin-bottom: 8px;
}
.admin-message-right {
  justify-content: flex-end;
}

.admin-message {
  padding: 10px 18px;
  border-radius: 18px;
  max-width: 70%;
  word-break: break-word;
  font-size: 15px;
}

.admin-message-blue,
.admin-message-tomato {
  background: tomato;
  color: #fff;
}
.admin-message-gray {
  background: #ffe1e1;
  color: #454545;
}

.admin-message-text {
  color: inherit;
}

.admin-input-section {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.admin-input-section input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ffd6cc;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
  background: #fff;
}

.admin-input-section button {
  background: tomato;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 22px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}
.admin-input-section button:hover {
  background: #ff6347cc;
}

.admin-receiver-input {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ffd6cc;
  border-radius: 6px;
  width: 100%;
  font-size: 15px;
  background: #fff;
}